<div class="container">
  <form id="contact" action="" method="post" [formGroup]="myForm" (ngSubmit)="onSubmitDD()">
    <h3>Quick Contact</h3>
    <br>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus
             id = "username"
             formControlName= "username">
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required
             id="useremail"
             formControlName= "email">
      <div *ngIf ="!myForm.controls['email'].valid">
        Invali Email
      </div>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required
             id="userphone"
             formControlName= "phone">
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <div class="radio" *ngFor="let g of genders">
        <label>
          <input type="radio"
            formControlName="gender"
              [value]="g">
          {{g}}
        </label>
      </div>
      <br>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" [disabled]="!myForm.valid">Submit</button>
    </fieldset>
  </form>


</div>
