<app-home></app-home>
<div>
  <router-outlet></router-outlet>
</div>


<!--<footer class="footer-distributed">-->

  <!--<div class="footer-left">-->

    <!--<h3>Company<span>logo</span></h3>-->


    <!--<p class="footer-company-name">Khatoon-E-Jannat &copy; 2016</p>-->
  <!--</div>-->

  <!--<div class="footer-center">-->

    <!--<div>-->
      <!--<i class="fa fa-map-marker"></i>-->
      <!--<p><span>779 Bergen Avenue</span> Jersy City, New Jersey <span>NJ-07306 USA</span></p>-->
    <!--</div>-->

    <!--<div>-->
      <!--<i class="fa fa-phone"></i>-->
      <!--<p>+1 555 123456</p>-->
    <!--</div>-->

    <!--<div>-->
      <!--<i class="fa fa-envelope"></i>-->
      <!--<p><a href="mailto:support@company.com">support@company.com</a></p>-->
    <!--</div>-->

  <!--</div>-->

  <!--<div class="footer-right">-->

    <!--<p class="footer-company-about">-->
      <!--<span>About the company</span>-->

    <!--</p>-->

    <!--<div class="footer-icons">-->

      <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
      <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
      <!--<a href="#"><i class="fa fa-linkedin"></i></a>-->
      <!--<a href="#"><i class="fa fa-github"></i></a>-->

    <!--</div>-->

  <!--</div>-->

<!--</footer>-->
